* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: beige;
}

#square{
    color: antiquewhite;
    height: 300px;
    width: 300px;
    background-color: crimson;
}

#circle{
    color: antiquewhite;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: lightgreen;
}